@import "../../ui/variables.css";

.margin-list {
  margin: 2rem 0;
}

.green-space-summary-large {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--color-bright-green);
  display: flex;
  text-align: center;
}
