@import "../variables.css";

.footer {
  background-color: var(--color-green);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.footer-logo {
  width: 7rem;
  height: auto;
  border-radius: 20%;
}

.footer-center {
  text-align: center;
  flex: 1;
  color: var(--color-brown);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-link-krea {
  color: var(--color-brown);
}

.footer-link:hover,
.footer-link-krea:hover {
  font-weight: bold;
}

.footer-right a {
  text-align: center;
  flex: 1;
  color: var(--color-brown);
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.social-icon {
  vertical-align: middle;
  color: var(--color-brown);
  font-size: 2rem;
}

.social-icon:hover {
  color: #ffffff;
}

.font-bold-white {
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .footer-left,
  .footer-right {
    display: none;
  }

  .footer-center {
    margin-bottom: 1rem;
  }
  .not-display-mobile {
    display: none;
  }
}
