@import "../../ui/variables.css";

.convergence {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.data-section {
  background-color: var(--color-bright-green);
  position: relative;
  box-sizing: border-box;
  max-width: 40%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.data-placeholder {
  text-align: center;
}

.data-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.data-text {
  color: white;
  font-style: italic;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .convergence {
    padding: 0 1rem;
  }
  .data-section {
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 15px;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .convergence {
    padding: 0 0.5rem;
  }
  .data-section {
    max-width: 90%;
    padding: 1rem;
  }
}
