.encadrement-section {
  margin: 2rem auto;
  padding: 0.5rem 2rem;
}

.section-text {
  color: #333;
  margin: 1rem 0;
}

.margin-bottom-section {
  margin-bottom: 3rem;
}

.beneficiaires-list,
.objectifs-list,
.missions-list {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

.beneficiaires-list li,
.objectifs-list li,
.missions-list li {
  margin-bottom: 0.8rem;
  color: #444;
}

/* Responsive */
@media (max-width: 700px) {
  .encadrement-section {
    padding: 0 1.5rem;
  }
  
}
