@import "../variables.css";

.title {
  color: var(--color-brown);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
