@import "../variables.css";

.section-how-to-join {
  background-color: var(--color-green-opacity);
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3rem;
  line-height: 1.7;
  padding-bottom: 2.5rem;
}

.margin-top {
  margin-top: 2rem;
}

.howtojoin-phone-link {
  color: #4c342c;
  font-weight: bold;
  text-decoration: underline dotted;
  transition: color 0.2s, text-decoration 0.2s;
}

.howtojoin-phone-link:hover,
.howtojoin-phone-link:focus {
  color: #08911d;
  text-decoration: underline solid;
}
