@import "../../ui/variables.css";

.title-data-month,
.data-value {
  color: var(--color-bright-green);
  font-size: 2rem;
}

.title-data-month {
  text-align: center;
  margin-bottom: 1rem;
}
.data-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.data-block {
  padding: 1rem;
}

.data-section {
  margin: 2rem 0;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .data-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .title-data-month,
  .data-value {
    font-size: 1.5rem;
  }
  .data-section {
    margin: 0.5rem 0;
  }
}
