@import "../variables.css";

.subtitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-brown);
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.5rem;
  }
}
