.logo-financeurs {
  height: 50px;
  transition: transform 0.2s;
}

.logos-ue {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

.logos-autres {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.logo-financeurs {
  height: 50px;
  transition: transform 0.2s;
}

.logo-financeurs.big {
  height: 80px;
  margin-top: 2rem;
}

.section-financeurs {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
}

.logos-wrapper {
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .section-financeurs {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .section-financeurs .logos-wrapper {
    gap: 0;
    justify-content: space-around;
  }
  .logo-financeurs {
    height: 30px;
  }
  .logo-financeurs.big {
    height: 80px;
    margin-top: 1rem;
  }
  .logos-ue,
  .logos-autres {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
