.home-presentation-text p {
  flex: 2;
  margin: 2rem;
  max-width: 40rem;
}

.home-presentation-text ul {
  list-style-type: disc;
  margin: 1rem 1rem 0 5rem;
}
.center-contact-link {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.text-left-presentation {
  text-align: left;
}

@media (max-width: 768px) {
  .home-presentation-text {
    text-align: center;
  }

  .home-presentation-text p {
    margin: 1rem auto;
    max-width: 90%;
  }

  .home-presentation-text ul {
    margin: 1rem auto;
    max-width: 90%;
    text-align: left;
  }
}
