.layout-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.layout-children {
  padding: 0 3rem;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .layout-children {
    padding: 0 1rem;
  }
}
