.home {
  height: 100vh;
  width: 100vw;
}

.home-data-month {
  padding: 2rem;
  gap: 2rem;
}

.button-center {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.home-presentation {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.home-presentation-financiers {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 4.5rem;
}

@media (max-width: 900px) {
  .home-presentation {
    flex-direction: column;
    gap: 1.5rem;
  }
  .home-presentation-financiers {
    justify-content: flex-start;
    margin-top: 0;
  }
}
