:root {
  --color-green: #9cd484;
  --color-bright-green: #0cb424;
  --color-brown: #4c342c;
  --color-green-opacity: rgba(var(--color-green-rgb, 156, 212, 132), 0.17);
}

.font-bold {
  font-weight: bold;
}

.text-align-justify {
  text-align: justify;
}

.margin-title {
  padding: 2rem;
  gap: 2rem;
}

.text-align-center {
  text-align: center;
}

.line-height {
  line-height: 1.7;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}
