@import "../../ui/variables.css";

.about-cards-row {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.about-cards-row > * {
  flex: 1 1 350px;
  min-width: 320px;
  max-width: 500px;
}
@media (max-width: 900px) {
  .about-cards-row {
    flex-direction: column;
    gap: 1.5rem;
  }
  .about-cards-row > * {
    max-width: 100%;
    min-width: 0;
  }
}
