@import "../../ui/variables.css";

.about-cards-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin: 2rem 0;
  align-items: start;
}

.about-cards-col-left,
.about-cards-col-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 900px) {
  .about-cards-row {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
